<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/redmond/jquery-ui.css" />

<form class="form-inline">
    <legend>
        <h3>Find your perfect vacation</h3>
    </legend>
    <div class="row">
      <span class="help-block">
          <h5>1. Specify the basics</h5>
      </span>
      <div class="col-lg-3">
          <input type="text" class="form-control" placeholder="Departing Airport or City" />
      </div>
      <div class="col-lg-2">
        <div class="form-group" id="datepicker">
          <div class="input-group">
            <input type="text" class="input-small form-control" name="dp-input" id="dp-input" data-date-format="mm/dd/yyyy" data-provide="datepicker"
              data-date-start-date="now"/>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>

      <div class="col-lg-2">
        <div class="form-group" id="datepicker-return">
          <div class="input-group">
            <input type="text" class="input-append form-control" name="dp2-input" id="dp2-input" data-date-format="mm/dd/yyyy" data-provide="datepicker" />
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <select class="form-control" style="width=100px;">
            <option>1 Traveller</option>
            <option>2 Travellers</option>
            <option>3 Travellers</option>
        </select>
      </div>
      <div class="pull-right">
          <button type="submit" class="btn btn-success" style="width: 150px">Search</button>
      </div>
    </div>
    <div class="row">
      <span class="help-block">
        <h5>2. Customize your results</h5>
      </span>
      <div class="col-lg-2" id="slider">
          <p>
            <label for="amount">Budget</label>
            <input type="text" id="amount" class="input-medium" style="border: 0; color: #0044cc; font-weight: bold;" />
          </p>
          <div>
            <div id="slider-range"></div>
          </div>
      </div>
      <div class="col-lg-2">
        <div class="btn-group-vertical">
          <p>Going to:</p>
          <div class="radio">
            <label for="radio1">
                <input type="radio" value="true" name="goingRadio" id="radio5">
                Anywhere
            </label>
          </div>
          <div class="radio">
            <label for="radio1">
                <input type="radio" value="true" name="goingRadio" id="radio1">
                <span>South East</span>
            </label>
          </div>
          <div class="radio">
            <label for="radio2">
                <input type="radio" value="true" name="goingRadio" id="radio2">
                Midwest&nbsp&nbsp&nbsp
            </label>
          </div>
          <div class="radio">
            <label for="radio3">
                <input type="radio" value="true" name="goingRadio" id="radio3">
                North East
            </label>
          </div>
          <div class="radio">
            <label for="radio4">
                <input type="radio" value="true" name="goingRadio" id="radio4">
                West Coast
            </label>
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="btn-group-vertical">
          <p>Activities:</p>
          <div class="checkbox">
            <label for="radio10">
                <input type="checkbox" value="true" name="activityChecbox" id="checkbox10">
                Golf
            </label>
          </div>
          <br />
          <div class="checkbox">
            <label for="radio11">
                <input type="checkbox" value="true" name="activityChecbox" id="checkbox11">
                Hiking
            </label>
          </div>
          <br />
          <div class="checkbox">
            <label for="radio12">
                <input type="checkbox" value="true" name="activityChecbox" id="checkbox12">
                Nightlife
            </label>
          </div>
          <br />
          <div class="checkbox">
            <label for="radio13">
                <input type="checkbox" value="true" name="activityChecbox" id="checkbox13">
                Skiing
            </label>
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="btn-group-vertical">
          <p>Location:</p>
          <div class="radio">
            <label for="radio10">
                <input type="radio" value="true" name="locationRadio" id="radio6">
                Beach
            </label>
          </div>
          <br /> 
          <div class="radio">
            <label for="radio11">
                <input type="radio" value="true" name="locationRadio" id="radio7">
                Mountain
            </label>
          </div>
          <br />
          <div class="radio">
            <label for="radio12">
                <input type="radio" value="true" name="locationRadio" id="radio8">
                City
            </label>
          </div>
          <br />
          <div class="radio">
            <label for="radio12">
                <input type="radio" value="true" name="locationRadio" id="radio9">
                Somewhere warm
            </label>
          </div>
        </div>
      </div>
      <div class="col-lg-1">
        <div class="btn-group-vertical">
          <p>I need:</p>
          <div class="checkbox">
            <label for="checkbox">
                <input type="checkbox" value="true" id="checkbox" name="checkbox" checked>
                Flight
            </label>
          </div>
          <br />
          <div class="checkbox">
            <label for="checkbox">
                <input type="checkbox" value="true" id="checkbox1" name="checkbox">
                Hotel
            </label>
          </div>
          <br />
          <div class="checkbox">
            <label for="checkbox">
                <input type="checkbox" value="true" id="checkbox2" name="checkbox">
                Car
            </label>
          </div>
          <br />
          <div class="checkbox">
            <label for="checkbox">
                <input type="checkbox" value="true" id="checkbox3" name="checkbox">
                Train
            </label>
          </div>
        </div>
      </div>
    </div>
</form>
<script>
$(function () {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 10000,
                values: [0, 3000],
                slide: function (event, ui) {
                    $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                }
            });
            $("#amount").val("$" + $("#slider-range").slider("values", 0) +
              " - $" + $("#slider-range").slider("values", 1));
        });
</script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>